!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    %meta{:content => "", :property => "og:description"}/
    %meta{:content => "http://sidebandapp.com/assets/images/sidebandapp-social-img-1.jpg", :property => "og:image"}/
    %meta{:content => "Sideband", :property => "og:site_name"}/
    %meta{:content => "Sideband - Podcast App", :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://sidebandapp.com", :property => "og:url"}/

    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "http://sidebandapp.com", :name => "twitter:url"}/
    %meta{:content => "Sideband - Podcast App", :name => "twitter:title"}/
    %meta{:content => "", :name => "twitter:description"}/
    %meta{:content => "http://sidebandapp.com/img/sidebandapp-social-img-1.jpg", :name => "twitter:image"}/
    %meta{:content => "@sidebandapp", :name => "twitter:site"}/

    %link{:href => "/assets/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/assets/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/

    = stylesheet_link_tag "application"

    %title= current_page.data.title || "Sideband - Coming Soon(ish)"

  %body{class: page_classes}
    = yield

    = javascript_include_tag "jquery.min.js"
    = javascript_include_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-9622756-4"]);
      _gaq.push(["_trackPageview"]);
      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
      })();
